<p id="notice"><%= notice %></p>
<div class="well">
<h1>Invoices</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Patient</th>
      <th>Paid</th>
      <% if current_user.admin? %>
      <th colspan="3"></th>
      <% else %>
      <th colspan="1"> </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% if current_user.admin? %>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.user.email %></td>
        <td><%= invoice.patient.name %></td>
        <td><% if invoice.paid? %>
              Yes
              <% else %>
              No 
              <% end %>


        </td>
        <td><%= link_to 'Show', invoice %></td>

        <% if  current_user.admin? %>
          <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
    <% else %>
       <% @invoices.each do |invoice| %>
      <tr>
      <% if invoice.user.id == current_user.id %>
        <td><%= invoice.user.email %></td>
        <td><%= invoice.patient.name %></td>
        <td><% if invoice.paid? %>
              Yes
              <% else %>
              No 
              <% end %>


        </td>
        <td><%= link_to 'Show', invoice %></td>
          
          <% end %>
        

    <% end %>

<%= link_to 'New Invoice', new_invoice_path %>
    <% end %>
  </tbody>
</table>

<br>

</div>