<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <strong>User:</strong>
  <%= @invoice.user.email %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @invoice.patient.name %>
</p>

<p>
  <strong>Paid:</strong>
  <%if @invoice.paid? %>
  		Paid
  <% else %>
  		Not Paid
  <% end %>
</p>
<p>
	<h2> Services </h2>
	<table class="table table-hover">
			<thead>
				<tr>
				<td>Service</td>
				<td>Price</td>
				<td>Status</td>
				
				</tr>
			</thead>
		
			<% total_bill = 0.0 %>
			<% @invoice.services_to_dos.each do |services_to_do| %>
			<tbody>
				<tr>
				
					<td><%= services_to_do.service.name %></td>
					<td><%= services_to_do.service.price %></td>
					<% total_bill += services_to_do.service.price %>
					<td> <% if services_to_do.done? %>
							Done
							<% else %>
							On-Going
						<% end %>
						</td>


				</tr>
			</tbody>
			<% end %>
			</table>
			<p>
			<% if @invoice.paid? %>
			<h3> Total Bill = Php 0.00 </h3>
			<% else %>
			<h3> Total Bill = Php <%= total_bill %>0</h3>
			<% end %>
			</p>
	
</p>
</div>
<%= render partial: 'comments/comments', locals: {commentable: @invoice} %>
<%= render partial: 'comments/form', locals: {commentable: @invoice} %>
<br>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-default" %> |
<%= link_to 'Back', invoices_path, class: "btn btn-default" %>
<br>
