<!DOCTYPE html>
<html>
  <head>
    <title>PE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- Static navbar -->
   <%= render 'layouts/header' %>
   <div class="container">
    <%= yield %>
  </body>
</html>
