<!DOCTYPE html>
<html>
  <head>
    <title>PE</title>
         <script src="js/modernizr.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>

    </style>
  </head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>

   <!-- Static navbar -->
   <%= render 'layouts/header' %>
   <div class="container">
    <%= yield %>

        <%= render "layouts/footer" %>
  </body>
</html>
